name: Caller workflow

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Name to greet"
        type: string
        required: true

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable.yml
    with:
      name: ${{ inputs.name }}
