name: Env Variables

on:
  - push

env:
  FOO: "FOO_VALUE_GLOBAL"

jobs:
  env-variables:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    env:
      FOO: "FOO_VALUE_JOB"
    steps:
      - name: Log env variables
        env:
          FOO: "FOO_VALUE_STEP"
        run: |
          echo "GITHUB_REF: $GITHUB_REF"
          echo "github.ref: ${{ github.ref }}"
          echo "FOO: $FOO"
  env-variables-2:
    runs-on: ubuntu-latest
    needs: env-variables
    steps:
      - name: Log env variables 2
        run: |
          echo "FOO: $FOO"
      - name: Set env var
        run: |
          echo "NEW_ENV_VAR=$(date)" >> "$GITHUB_ENV"

  env-variables-3:
    runs-on: ubuntu-latest
    needs: env-variables-2
    steps:
      - name: Log env variables 3
        run: |
          echo "NEW_ENV_VAR: $NEW_ENV_VAR"

  env-variables-4:
    runs-on: ubuntu-latest
    needs: env-variables-3
    steps:
      - name: Log env variables 4
        run: |
          echo "NEW_ENV_VAR: $NEW_ENV_VAR"
