name: Repo events

on:
  pull_request:
    types: [labeled, opened]
jobs:
  pr-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Comment on PR
        uses: actions/github-script@v8
        with:
          script: |
            github.issues.createComment({
              issue_number: context.payload.pull_request.number,
              body: "Hello, world!"
            })
