name: Matrix jobs

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x, 18.x]
    steps:
      - run: node -v
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - if: ${{ matrix.node-version == '14.x' }}
        run: exit 1
      - run: node -v
