name: Reusable

on:
  workflow_call:
    inputs:
      name:
        description: "Name to greet"
        type: string
        required: true

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, ${{ inputs.name }}!"
